# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.bak
*.log

# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# Django stuff
db.sqlite3
/media/
staticfiles/
*.sqlite3

# Pytest
.pytest_cache/
.coverage

# VSCode
.vscode/
*.code-workspace

# macOS
.DS_Store

# Backup files
*~
*.orig

# Pycharm
.idea/

# Migrations
**/migrations/*.py
!**/migrations/__init__.py
